
@media screen and (max-width: 992px) {
    .intro {
        padding-bottom: 60px;
    }

    .intro__bg::before {
        display: block;
    }

    .intro__data {
        margin: 0 auto;
    }

    .reasons {
        padding-bottom: 0;
    }

    .offer {
        padding-top: 0;
    }

    .about__inner {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .about__gallery {
        margin-left: 0;
        margin-top: 70px;
    }

    .offer__inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .offer__image {
        order: 2;
        margin-top: 90px;
    }

    .chief {
        padding-top: 0;
    }

    .chief__inner {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .chief__image {
        margin-left: 0;
        margin-top: 40px;
    }

    .dishes__list {
        justify-content: space-around;
    }

    .testimonials__author {
        justify-content: center;
    }

    .author__text {
        margin: 0 auto;
    }

    .swiper-button-prev {
        left: 40%;
    }
    .swiper-button-next {
        right: 40%;
    }
}

@media screen and (max-width: 871px) {
    .header__nav {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;left: 0;
        background-color:rgba(27, 107, 44, .75);
        z-index: 12;
        padding: 75px;
        transform: translateX(-100%);
        transition: .3s all ease;
    }
    .header__nav_active {
        transform: translateX(0);
    }
    .header__burger {
        display: block;
    }
    .burger__hidden {
        display: none;
    }
    .header__nav-close {
        display: block;
    }
    .header__nav__item {
        width: 100%;
        margin-right: 0;
    }
    .header__nav-list {
        flex-direction: column;
        row-gap: 30px;
    }
    .header__nav-link {
        font-weight: 700;
        font-size: 34px;
        line-height: 26px;
        color: #fff;
    }
    .header__nav-link:hover,
    .header__nav-link:active,
    .header__nav-link:focus {
        color: #3c443a;
    }
}    
@media screen and (max-width: 522px) {
    .main__title {
        font-size: 46px;
    }

    .author__text {
        font-size: 14px;
        line-height: 1.5;
        padding-bottom: 16px;
    }

    /* .header__wrapper {
        flex-direction: column;
        justify-content: center;
    } */
    /* .header__nav-list {
        flex-direction: column;
        row-gap: 20px;
    } */
   
}