
@media screen and (max-width: 992px) {
    .intro {
        padding-bottom: 60px;
    }

    .intro__bg::before {
        display: block;
    }

    .intro__data {
        margin: 0 auto;
    }

    .reasons {
        padding-bottom: 0;
    }

    .offer {
        padding-top: 0;
    }

    .about__inner {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .about__gallery {
        margin-left: 0;
        margin-top: 70px;
    }

    .offer__inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .offer__image {
        order: 2;
        margin-top: 90px;
    }

    .chief {
        padding-top: 0;
    }

    .chief__inner {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .chief__image {
        margin-left: 0;
        margin-top: 40px;
    }

    .dishes__list {
        justify-content: space-around;
    }

    .testimonials__author {
        justify-content: center;
    }

    .author__text {
        margin: 0 auto;
    }

    .swiper-button-prev {
        left: 40%;
    }
    .swiper-button-next {
        right: 40%;
    }
}

@media screen and (max-width: 522px) {
    .main__title {
        font-size: 46px;
    }

    .author__text {
        font-size: 14px;
        line-height: 1.5;
        padding-bottom: 16px;
    }
}